* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    background: linear-gradient(135deg, #74ebd5, #9face6);
    min-height: 100vh;
    padding: 40px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 48px;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    width: 350px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

button {
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #1d4ed8;
}

.weather-card {
    background: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.weather-card img {
    width: 120px;
}

.weather-card h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.weather-card h3 {
    font-size: 42px;
    color: #2563eb;
    margin-bottom: 10px;
}

.weather-card p {
    margin: 10px 0;
    font-size: 18px;
}

.forecast-title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.forecast-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.forecast-card {
    background: white;
    width: 180px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.forecast-card img {
    width: 70px;
}

.error-box {
    background: #ffdddd;
    color: red;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.history-title {
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.history-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.history-card {
    background: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.clear-history {
    text-align: center;
    margin-top: 20px;
}

.clear-history a {
    text-decoration: none;
    background: #ef4444;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
}

.clear-history a:hover {
    background: #dc2626;
}