<!DOCTYPE html>
<html>

<head>
    <title>Weather Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">
<h1>☁️ Weather Dashboard</h1>

    <form method="POST">

        <input
            type="text"
            name="city"
            placeholder="Enter City Name"
            required>

        <button type="submit">
            Search
        </button>

    </form>

    {% if error %}

    <div class="error-box">
        {{ error }}
    </div>

    {% endif %}

    {% if weather %}

    <div class="weather-card">

        <h2>{{ weather.city }}</h2>

        <img
        src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">

        <h3>{{ weather.temp }} °C</h3>

        <p>{{ weather.condition }}</p>

        <p>Humidity: {{ weather.humidity }}%</p>

        <p>Wind Speed: {{ weather.wind }} m/s</p>

    </div>

    {% endif %}

    {% if forecast %}

    <h2 class="forecast-title">
        5 Day Forecast
    </h2>

    <div class="forecast-container">

        {% for day in forecast %}

        <div class="forecast-card">

            <p>{{ day.date }}</p>

            <img
            src="https://openweathermap.org/img/wn/{{ day.icon }}@2x.png">

            <h3>{{ day.temp }} °C</h3>

        </div>

        {% endfor %}

    </div>

    {% endif %}

</div>

</body>
</html>